<h1>Démonstration des formulaires</h1>
<form [formGroup]="inscriptionForm" (ngSubmit)="onSubmit()">
  <div>
    <label for="last_name">Nom : </label>
    <input formControlName="last_name" name="last_name" id="last_name" type="text">
    <div *ngIf="inscriptionForm.get('last_name')?.errors != null">
      <!-- <p *ngFor="let i of inscriptionForm.get('last_name')?.errors">
        {{i}}
      </p> -->
      {{inscriptionForm.get('last_name')?.errors | json}}
    </div>
  </div>
  <div>
    <label for="first_name">Prénom : </label>
    <input formControlName="first_name" name="first_name" id="first_name" type="text">
  </div>
  <div>
    <label for="phone">Téléphone : </label>
    <input formControlName="phone" name="phone" id="phone" type="tel">
  </div>
  <div>
    <label for="birth_date">Date de naissance : </label>
    <input formControlName="birth_date" name="birth_date" id="birth_date" type="date">
  </div>
  <fieldset formArrayName="game_array">
    <legend>Jeux favoris</legend>
    <button type="button" (click)="addGame()">+</button>
    <div *ngFor="let game of getGameArray().controls; let i = index" [formGroupName]="i">
      <h3>Jeu {{i+1}}:</h3>
      <div>
        <label for="game_name_{{i}}">Nom du jeux : </label>
        <input formControlName="game_name" name="game_name_{{i}}" id="game_name_{{i}}" type="text">
      </div>
      <div>
        <label for="game_price_{{i}}">Prix du jeux : </label>
        <input formControlName="game_price" name="game_price_{{i}}" id="game_price_{{i}}" type="number">
      </div>
    </div>
  </fieldset>
  <div>
    <button type="reset">Remettre à zéro</button>
    <button type="submit" [disabled]="!inscriptionForm.valid">Valider</button>
  </div>
</form>
